extends ./_layout.jade

append head
  link(rel='stylesheet', href='/static/stylesheets/dist/index.css')

block main
  if user
    #new_post_form_wrapper.card.editor
      h2 发布你喜欢的
      form(action='/p/create', method='post', target='_self')
        input(type='text', name='title', placeholder='标题', class='textbox', required='required')
        .textarea.content(
          contenteditable='true',
          v-class='focused: focused',
          v-on='input: sync',
          spellcheck='false')
        textarea(name='content', v-model='content', style="display: none;")
        input(type='submit', value='发布', class='btn')
        .info
          span.label= '当前昵称：' + user.name

  #post_list
    each post in posts
      .post.card
        article.article
          .info
            if post.writer
              span.label.writer= '@' + post.writer
            span.label.createtime= '发布于 ' + post.createTimeString
          .body
            h2
              a.title(href='/p'+post._id, target='_self')
                span.text= post.title
            .content!= post.content
        .post-panel
          a.link-btn(href='/p'+post._id, target='_self') 讨论(#{post.commentsCount})
    .panel.card
      a.btn-more(href='/l', target='_self') 更多内容

  include ./partials/comments.jade

block scripts
  script.
    require(['./index']);
