extends ./_layout.jade

append head
  link(rel='stylesheet', href='/static/stylesheets/dist/post.css')

block main
  article#article.article.card(data-id=post._id, data-likes=post.likes, data-unlikes=post.unlikes)
    h2.title= post.title
    .content!= post.content
    #panel(v-show='likes !== undefined && unlikes !== undefined', style='display: none;')
      a.link-btn.btn-like(v-on='click: like') 喜欢(
        span.like(v-html='likes')
        | )
      a.link-btn.btn-unlike(v-on='click: unlike') 不喜欢(
        span.unlike(v-html='unlikes')
        | )
  #comments.card(v-show='comments.length', style='display: none;')
    h2.title 评论
    .comments
      .comment(v-repeat='comment: comments')
        span.id(v-html='"#" + comment._id', v-show='comment._id')
        .comment-content(v-html='comment.content')
    .pager
      .simple(v-show='pagerMode === "simple"')
        span.btn-page(v-repeat='simplePageButtons', v-html='text',
          v-on='click: gotoPage(value)',
          v-class='current: currentPage === value')
        span.btn-page(v-on='click: togglePagerMode', v-if='commentsInfo.pages > 5') ...
      .full(v-show='pagerMode === "full"')
        span.btn-page(v-repeat='fullPageButtons', v-html='text',
          v-on='click: gotoPage(value), click: togglePagerMode',
          v-class='current: currentPage === value')
        span.btn-page(v-on='click: togglePagerMode', v-if='commentsInfo.pages > 5') ...
  #form_comment_wrapper.card.editor(v-show='1', style='display: none;')
    h2 发表评论
    form#form_comment(action='/p/comment', method='post', target='_self', v-on='submit: send')
      input(type='hidden',name='id', value=post._id, v-model='id')
      .textarea.comment-content(
        class='textarea-content',
        contenteditable='{{!sending}}',
        v-class='focused: focused',
        v-on='input: sync')
      input(type='hidden', name='content', v-model='content')
      input(type='submit', value='发表', class='btn', v-if='!sending')
      input(type='submit', value='发送中...', class='btn', v-if='sending', disabled='disabled')

block scripts
  script.
    require(['./post']);