extends ./_layout.jade

append head
  link(rel='stylesheet', href='/static/stylesheets/dist/post.css')

block main
  article#article.article.card(data-id=post._id, data-likes=post.likes, data-unlikes=post.unlikes)
    h2.title= post.title
    .info
      if post.writer
        span.label.writer= '@' + post.writer
      span.label.createtime= '发布于 ' + post.createTimeString
    .content!= post.content
  .card.comment-area-loading(v-if='0') 加载中...
  #comments_wrapper.card(v-component='comments')

  script(type='text/x-template', id="comments_wrapper_template")
    h2.title 讨论
    #form_comment_wrapper.editor(v-component='form', v-if='currentPage === 1')
    div.message(v-if='!comments.list.length')
      span(v-if='comments.count !== 0') 加载中...
      span(v-if='comments.count === 0') 目前尚未有讨论
    #comments(v-component='list', v-if='comments.list.length')

  script(type='text/x-template', id='form_comment_template')
    form(action='/p/comment', method='post', target='_self', v-on='submit: send')
      .textarea.comment-content.textarea-content(
        contenteditable='true',
        v-class='focused: focused',
        v-on='keydown: onkeydown, input: sync')
      textarea(name='content', v-model='content', style='display: none;', required='required')
      input(type='submit', value='POST', class='btn')
      .info
        span.label= '当前昵称：' + user.name

  script(type='text/x-template', id='comments_template')
    .comments
      .comment(v-repeat='comment: comments.list')
        .info
          span.label.id(v-if='!comment._id') 发送中...
          span.label.id(v-html='"#" + comment._id', v-if='comment._id')
          span.label.writer(v-html='"@" + comment.writer', v-if='comment.writer')
          span.label.createtime(v-html='comment.createTimeString', v-if='comment.createTimeString')
        .comment-content(v-html='comment.content')
    include ./partials/pager.jade

block scripts
  script.
    require(['./post']);