extends ./_layout.jade

append head
  link(rel='stylesheet', href='/static/stylesheets/dist/post.css')

block main
  #post(data-id=post._id, data-likes=post.likes, data-unlikes=post.unlikes)
    article#article.article.card
      .info
        if post.writer
          span.label.writer= '@' + post.writer
        span.label.createtime= '发布于 ' + post.createTimeString
      .body
        h2.title= post.title
        .content!= post.content
    .comment-area.card
      .comment-area-loading(v-if='0') 加载中...
      div(v-component='comments')

    include ./partials/comments.jade

block scripts
  script.
    require(['./post']);